[submodule "src/github.com/jbitor/bencoding"]
    path = src/github.com/jbitor/bencoding
    url = https://github.com/jbitor/bencoding.git

[submodule "src/github.com/jbitor/cli"]
    path = src/github.com/jbitor/cli
    url = https://github.com/jbitor/cli.git

[submodule "src/github.com/jbitor/dht"]
    path = src/github.com/jbitor/dht
    url = https://github.com/jbitor/dht.git

[submodule "src/github.com/jbitor/torrent"]
    path = src/github.com/jbitor/torrent
    url = https://github.com/jbitor/torrent.git
