# IntelliJ Project and Module Data
.idea/
*.iml

# Used for ad-hoc temporary files that I was to ignore.
*.ign
*.ign.*

# DHT state
.dht-peer

# Torrent info and state
*.torrent
*.peers
*.incomplete

# godoc may be installed here
src/code.google.com/p/go.tools/
