[submodule "src/github.com/jbitor/bencoding"]
    path = src/github.com/jbitor/bencoding
    url = https://github.com/jbitor/bencoding.git

[submodule "src/github.com/jbitor/cli"]
    path = src/github.com/jbitor/cli
    url = https://github.com/jbitor/cli.git

[submodule "src/github.com/jbitor/dht"]
    path = src/github.com/jbitor/dht
    url = https://github.com/jbitor/dht.git

[submodule "src/github.com/jbitor/bittorrent"]
    path = src/github.com/jbitor/bittorrent
    url = https://github.com/jbitor/bittorrent.git

[submodule "src/github.com/jbitor/webclient"]
    path = src/github.com/jbitor/webclient
    url = https://github.com/jbitor/webclient.git

[submodule "src/github.com/op/go-logging"]
    path = src/github.com/op/go-logging
    url = https://github.com/op/go-logging.git
